<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Voting_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Voting_App.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="headersite">
        @if(User.Identity.IsAuthenticated)
        {
          <a class="btn btn-danger" asp-action="Logout" asp-controller="Account" >LogOut</a>
        }
        else
        {
          <a class="btn btn-info" asp-action="Register" asp-controller="Account" >Register</a>
        }
    </header>
    <div class="container" style="z-index: 2;">
        <main role="main" class="pb-3" style="z-index: 2;">
            @RenderBody()
        </main>
    </div>
    <div class="circle1"></div>
    <div class="circle2"></div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Voting_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
