/* _content/Voting_App/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vdcr16k19u] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vdcr16k19u] {
  color: #0077cc;
}

.btn-primary[b-vdcr16k19u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vdcr16k19u], .nav-pills .show > .nav-link[b-vdcr16k19u] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vdcr16k19u] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vdcr16k19u] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vdcr16k19u] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vdcr16k19u] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vdcr16k19u] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.circle1[b-vdcr16k19u],
.circle2[b-vdcr16k19u] 
{
  background: white;  
  background: linear-gradient(
    to right bottom,
    rgba(255 , 255 , 255 , 0.9),
    rgba(255 , 255 , 255 , 0.1)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
}

.circle1[b-vdcr16k19u]{
  top: 5%;
  right: 15%;
}

.circle2[b-vdcr16k19u]{
  bottom: 5%;
  left: 10%;
}

